body {
  background-color: #e9f3f8;
  padding: 2rem;
  color: #0c498f;
  text-align: center;
}
.container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.task {
  margin: 20px 0;
}
button {
  background-color: #6690bb;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #2f5d8b;
}
input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #81acc7;
}
